.Board {
  border-radius: 50px;
  box-shadow:
  inset 5px 5px 10px var(--shadow),
  inset 5px 5px 10px -5px var(--midtone-low),
  inset -2.5px -2.5px 5px -2.5px var(--highlight),
  inset -2.5px -2.5px 5px #ffffff,
  1px 1px 2px -1px #ffffff,
  2.5px 2.5px 5px -2.5px var(--highlight),
  -2.5px -2.5px 5px var(--midtone-low),
  -1px -1px 2px var(--shadow);
  padding: 12.5px;   
}

.Board table {
  border-collapse: collapse;
  border: none;
}

.Board td {
  padding: 12.5px;
}