.Cell {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  background: radial-gradient(at 33% 33%,#ffffff 0%, #e3f4fc 16.5%, #dcdae6 33%, #ccb8cc 100%);
  box-shadow:
  inset -5px -5px 10px #b0acbf,
  inset -5px -5px 10px -5px #ccb8cc,
  inset 2.5px 2.5px 5px -2.5px #e3f4fc,
  inset 2.5px 2.5px 5px #ffffff,
  2.5px 2.5px 5px #b0acbf,
  5px 5px 10px #ccb8cc,
  -5px -5px 10px -2.5px #e3f4fc,
  -1px -1px 2px -1px #ffffff;
  transition: box-shadow 0.1s;
}

.Cell-pop {
  cursor: pointer;
  background: radial-gradient(at 66% 66%,#e3f4fc 0%, #dcdae6 33%, #ccb8cc 66%, #b0acbf 100%);
  box-shadow:
  inset 5px 5px 10px #b0acbf,
  inset 5px 5px 10px -5px #ccb8cc,
  inset -2.5px -2.5px 5px -2.5px #e3f4fc,
  inset -2.5px -2.5px 5px #ffffff,
  1px 1px 2px -1px #ffffff,
  2.5px 2.5px 5px -2.5px #e3f4fc,
  -2.5px -2.5px 5px #ccb8cc,
  -1px -1px 2px #b0acbf;
  transition: box-shadow 0.1s;    
}

